.movie_div {
    margin-top: 60px;
}
.notfounde404 img{
    width: 100%;
    height: 99.5vh; 
}
.notfounde404 button{
    position: absolute;
    top:80%;
    left:63%;
    border-radius:50px;
    padding: 20px 50px;
    background-color: dodgerblue;
    color:white;
    font-weight: 800;
    border:none;
    cursor:pointer;
}
.popup_message {
    width: 40%;
    z-index: 1000;
    text-align: left;
    position: absolute;
    right: 1%;
    top: 3%;
    background-color: black;
    padding: 15px;
    color: white;
}