@import "/css/variable.css";

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: whitesmoke;
}
header {
    background-color: var(--header-color);
    box-shadow: 2px 2px 30px gray;
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
}
header img{
    cursor: pointer;
    width: 15dvw;
    margin-left: 30px;
}
.send_otp_div {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .send_otp_div h2 {
        margin-bottom: 50px;
    }
    .send_otp_div form {
        width: 20%;
        flex-direction: column;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    .send_otp_div form label{
        font-size: 18px;
    }
    .send_otp_div form input{
        width: 283px;
        padding: 10px 10px;
        margin-top:10px;
        font-size: 20px;
    }
    .send_otp_div button{
        width: 100%;
        margin-top: 30px;
        padding: 15px 0px;
        background-color: var(--button-color);
        border: none;
        color: white;
        font-size:18px;
        font-weight:bold;
        border-radius: 3px;
        cursor: pointer;

        &:hover{
                   background-color: var(--button-hover-color);
               }
    }
.verifyotp{
    text-align:center;
    letter-spacing: 25px;
}

.mdi-eye {
    position: relative;
    top: -35%;
    left: 90%;
    font-size: 18px;
    cursor: pointer;
}

.mdi-eye-closed {
    cursor: pointer;
    position: relative;
    font-size: 18px;
    top: -35%;
    left: 90%;
    display: none;
}

.popup_message {
    width: 40%;
    z-index: 500;
    text-align: left;
    position: absolute;
    right: 1%;
    top: 90%;
    background-color: black;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: fixed;
}

    .popup_message span {
        color: greenyellow;
        font-size: 30px;
    }