@page
@model Main_Project.Pages.Support_links.HelpModel
@{
}
@*
                                    <a href="/" class="delete_user" style="color: red;">
                                        <span style="color: red;" class="mdi mdi-delete"></span>
                                    <li>Delete your account permament</li>
                                    </a>

                                    <div class="delete_user_popup">
                                        <div class="user_data_id">
                                            <form method="post">
                                                <input type="hidden" name="name" value="@Model.id" />
                                                <p></p>
                                                <div>
                                                    <button type="submit" name="submit">Delete</button>
                                                    <button name="submit">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
 *@


