@page
@model Main_Project.Pages.Change_password_pageModel
@{
    Layout = "_Setting";
    ViewData["title"] = "Change Password";
}

<div class="manage_profile_main_div">
    <div class="manage_profile">
        <h1>Enter Your Old Password</h1>
        <form class="update_email" method="post" asp-page-handler="ChangePassword">
            <input type="hidden" name="email" value="@Model.Email" />

            <input type="password" name="password" id="password" />

            <span onclick="togglePasswordVisibility()" id="mdi-eye" class="mdi mdi-eye"></span>
            <span onclick="togglePasswordVisibility()" id="eye-closed" class="mdi mdi-eye-closed"></span><br /><br />
            
            <button type="submit">Change Password</button>
        </form>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="text-danger">@Model.Message</div>
        }
    </div>
</div>
