@page
@model Otp_Page_DesignModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/Otp_Page_Design.css" rel="stylesheet" type="text/css">
    <title>OTP Verification</title>
</head>
<body>
    <div class="container">
        <img src="/image/web_logo.png" alt="Logo" class="logo" />
        <h1>Verify Your Identity</h1>
        <p>We have sent an OTP to your registered email address.</p>
        <div class="message">
            <div class="main_message">
                Your OTP is:
            </div>
            <div class="otp">
                456123
            </div>
        </div>
    </div>
</body>
</html>
