@page
@model Main_Project.Pages.Profile_Pic_Manage.Pic_InsertModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Profile_pic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="forms-sample" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Profile_pic.Pics" class="control-label"></label>
                <input type="file" asp-for="Upload" class="form-control" accept="image/*" />
                <span asp-validation-for="Profile_pic.Pics" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Profile_pic.Groups" class="control-label"></label>
                <input asp-for="Profile_pic.Groups" class="form-control" />
                <span asp-validation-for="Profile_pic.Groups" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
