@page
@model Main_Project.Pages.OtpVerification.VerifyOtp_for_Admin_password_changeModel
@{
    ViewData["Title"] = "Verify your OTP";
}

<head>
    <link href="/css/Resate_password.css" rel="stylesheet" />
</head>

<header>
    <img src="/image/web_logo.png" alt="Alternate Text" onclick="redirectTodeshbord()" />
</header>

<div class="send_otp_div">
    <h2>Verify OTP</h2>

    <form method="post">
        <div class="form-group">
            <label for="Otp" class="control-label">Enter OTP</label>
            <input class="verifyotp form-control" maxlength="6" id="Otp" name="Otp" value="@Model.Otp" />

            <span id="otpError" class="text-danger"></span>
            <span class="text-danger">@Html.ValidationMessage("Otp")</span> <!-- Display model error message -->
        </div>
        <button type="submit" class="btn btn-primary">Verify OTP</button>
    </form>
</div>

<script src="/js/script.js"></script>
<script>
    document.getElementById('Otp').addEventListener('input', function (event) {
        const input = event.target.value;
        const regex = /^[0-9]*$/;

        if (!regex.test(input)) {
            document.getElementById('otpError').innerText = 'Only numbers are allowed.';
            event.target.value = input.replace(/[^0-9]/g, '');
        } else {
            document.getElementById('otpError').innerText = '';
        }
    });

    document.querySelector('form').addEventListener('submit', function (event) {
        const otp = document.getElementById('Otp').value;
        if (otp.length !== 6) {
            document.getElementById('otpError').innerText = 'OTP must be 6 digits.';
            event.preventDefault();
        } else {
            document.getElementById('otpError').innerText = '';
        }
    });
</script>
