@page
@model Main_Project.Pages.Admin_profile_manage.Check_old_passwordModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Change Admin Password";
}

<h1>Change Password</h1>

<hr />
<div class="col-12">
    <form method="post" class="col-5 forms-sample" enctype="multipart/form-data">
        <input type="hidden" name="name" value="@Model.id" />

        <div class="form-group">
            <label for="oldpassword" class="control-label">Old Password</label>
            <input type="password" id="oldpassword" name="Oldpassword" class="form-control" />
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Oldpassword)</span>
        </div>

        <div class="form-group">
            <input type="submit" value="Check Old Password" class="btn btn-primary" />
        </div>
    </form>
</div>


@* VerifyOtp_for_Admin_password_change *@
@* Create_new_password *@